<h1>edit</h1>
<%= form_for @ningen do |f| %>
<p>
	<%= f.label :name %><br>
	<%= f.text_field :name %>
	<% if @ningen.errors.any? %>
	<%= @ningen.errors.messages[:name][0] %>
	<% end %>
</p>
<p>
	<%= f.label :description %><br>
	<%= f.text_field :description %>
</p>
<p>
	<%= f.label :category %><br>
	<!--<%= f.text_field :category %>-->
	<%= f.select :category, ["経営者", "実業家", "発明家", "芸術家", "政治家"] %>
</p>
<p>
	<%= f.label :img_url %><br>
	<%= f.text_field :img_url %>
</p>
<p>
	<%= f.submit "更新"%>
</p>
<% end %>