<div class="bs-docs-header">
	<div class="header_area">
		<div class="image">
		<%= image_tag (@ningen.img_url) %>
		</div>
		<div class="main_right">
			<h2 class="name"><%= @ningen.name %>
				<span class="category"><%= @ningen.category %></span></h2>
			<p class="description">
				<%= @ningen.description %>
			</p>
		</div>
	</div>
</div>

<div class="container">

	<% @ningen.tasks.each do |task| %>
		<div class="age_content">
		<p class="age"><%= task.age %><span>歳</span></p>
		<p class="event"><%= task.event %></p>
	</div>
	<% end %>
</div>


	<div class="form-group">
		<p><%= form_for [@ningen, @ningen.tasks.build] do |f| %></p>
		<p>
			<%= f.label :年齢 %>
			<%= f.text_field :age %>
		</p>
		<p>
			<%= f.label :イベント %>
			<%= f.text_field :event %>
		</p>
		<%= f.submit(["イベントを追加する"]) %>
		<% end %>
	</div>
<div class="bottan">
	<p><%= link_to "edit", edit_ningen_path , :class => "btn btn-default"%></p>
	<p><%= link_to "delete", ningen_path, method: :delete, data: {
		confirm: "are you sure"} , :class => "btn btn-default" %></p>
</div>
