!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Anotoki
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default
      %span.navbar-brand
        = link_to "ANOTOKI", root_path
    .container
      = yield
      .bottan.btn-group
        %p.btn= link_to "home", root_path , :class => "btn btn-default"
        %p.btn= link_to "new", new_ningen_path , :class => "btn btn-default"
